.cart-details {
    padding: 20px;
}

.cart-details h2 {
    text-align: center;
}

.cart-details div {
    position: fixed;
}

.cart-details div p {
    font-size: 17px;
    font-weight: 600;
    margin: 0;
}

@media only screen and (min-width: 200px) and (max-width: 580px) {

    .cart-details div{
        position: static;
        text-align: center;
    }

}