.header-container{
    padding: 0 140px;
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-container a{
    text-decoration: none;
    padding: 15px;
    font-weight: 600;
    color: #fff;
    font-size: 16px;
}
.header-container .link-register{
    background-color: #fff;
    color: #1C2B35;
    padding: 10px 20px;
}
.header-container .link-register:hover{
    background-color: rgba(255, 255, 255, 0.918);
}
.header-container .link-login{
    background-color: #fff;
    color: #1C2B35;
    padding: 10px 20px;
    margin-left: 10px;
}
.header-container .link-login:hover{
    background-color: rgba(255, 255, 255, 0.945);
}
.link-logout{
    border: none;
    background-color: #fff;
    color: #1C2B35;
    margin-left: 10px;
    padding: 13px 20px;
    font-weight: 600;
}
.link-logout{}